<form id="paymentgatewaymoduleform" action="{{ (isHostedModal is defined and isHostedModal == true) ? form_hosted_modal_url : form_hosted_url }}" method="post" >
	<p>You will be redirected to the Cardstream Payment Gateway to complete payment.</p>

	{% for key,value in formdata %}
			<input type="hidden" name="{{ key }}" value="{{ value }}" id="{{ key }}" />
	{% endfor %}

	<div class="buttons">
		<div class="pull-right">
			<input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
		</div>
	</div>
</form>

<script>
    const screen_width = (window && window.screen ? window.screen.width : '0');
    const screen_height = (window && window.screen ? window.screen.height : '0');
    const screen_depth = (window && window.screen ? window.screen.colorDepth : '0');
    const identity = (window && window.navigator ? window.navigator.userAgent : '');
    const language = (window && window.navigator ? (window.navigator.language ? window.navigator.language : window.navigator.browserLanguage) : '');
    const timezone = (new Date()).getTimezoneOffset();
    const java = (window && window.navigator ? navigator.javaEnabled() : false);
    document.getElementById('threeDSOptions[browserUserAgent]').value = identity;
    document.getElementById('threeDSOptions[browserTimeZone]').value = timezone;
    document.getElementById('threeDSOptions[browserJavaEnabledVal]').value = java;
    document.getElementById('threeDSOptions[browserLanguage]').value = language;
    document.getElementById('threeDSOptions[browserScreenColorDepth]').value = screen_depth;
    document.getElementById('threeDSOptions[browserScreenWidth]').value = screen_width;
    document.getElementById('threeDSOptions[browserScreenHeight]').value = screen_height;
</script>